.Calendar {
    &__toolbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__nav {
            flex: 1;
        }

        &__actions {
            flex: 0 0 auto;
        }
    }

    &__btn-prev,
    &__btn-center,
    &__btn-next,
    &__btn-add {
        margin: 0 5px;
        padding: 7px 10px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        background-color: #606b70;
        color: #fff;
    }

    .Plantt {
        width: 880px;
    }
}
